body
{
    background-color: whitesmoke;
    margin: 0;
    padding-bottom: 100px;
    margin-bottom: -100px;
    
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  *::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  *::-webkit-scrollbar-button:increment, *::-webkit-scrollbar-button {
    display: none;
  } 
  
  *::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c3c3c3;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 10px;  
  }

.header
{
    /* background-color: rgb(255, 180, 190); */
    background-color: #f397ff;
    display: block;
    height: 100px;
}

.logo
{
    width: 60;
    height: 60;
    margin: 20px;
    margin-left: 50px;
    float: left;
}

.buscar
{
    float: left;
    margin-top: 34px;
    margin-left: 20px;
}

.busqueda
{
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 7px;
}

.busqueda:hover
{
    border: 1px solid darkgrey;
    border-radius: 15px;
}

.lupa
{
    border: none;
    background-color: transparent;
}

.lupa img
{
    width: 30;
    height: 27;
    margin-bottom: -9px;
}

.companyname
{
    color: white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    margin-top: 22px;
    margin-left: 20px;
}

.menuUsuario
{
    list-style-type: none;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    
}

.menuUsuario ul
{
    border-radius: 20px;
}

.opcionMenu
{
    font-size: medium;

}

.opcionMenu a
{
    text-decoration: none;
    display: block;
}

.submenuUsuario
{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-right: 120px;
    display: none;
    width: auto;
    position: absolute;
    z-index: 4;
}

.opcionUsuario a
{
    text-decoration: none;
    display: flex;
    color: gray;
    background-color: white;
    padding: 5px 20px;
}

.opcionUsuario a:hover
{
    background-color: whitesmoke;
    color: #c64cd6;
}

.opcionMenu:hover .submenuUsuario
{
    display: block;
}

.iconocuenta
{
    float: right;
    width: 50px;
    height: 50px;
}

.carrito
{
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.carrito img
{
    width: 50;
    height: 40;
    
}

.iniciarsesion
{
    font-size: larger;
    color: black;
    float: right;
    margin-top: 40px;
    margin-right: 30px;
}

.menu, .submenu
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 9%);
}

.sub
{
    text-align: center;
    font-size: larger;
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.sub .a
{
    text-decoration: none;
    display: block;
    /* background-color: rgb(252, 212, 199); */
    background-color: white;
    color: darkgray;
    padding: 10px 12px;
}

.sub .a:hover
{
    /* background-color: rgb(255, 181, 162); */
    background-color: white;
    color: gray;
}

.submenu
{
    display: none;
    position: absolute;
    width: 20%;
}

:root {
    --whiteColor: whitesmoke;
    --principalColor: #c227d5;
    --principalColorOscuro: #881b95;
    --colorClaro: #f397ff;
    --colorMasClaro: #f9cbff;
}

.submenu li a
{
    text-decoration: none;
    display: block;
    /* background-color: rgb(255, 240, 235); */
    background-color: white;
    color: gray;
    padding: 6px 8px;
}

.submenu li a:hover
{
    /* background-color: rgb(255, 214, 214); 
    #e72fff*/
    background-color: lightgrey;
    color: #d52788;
}

.sub:hover .submenu
{
    display: block;
}

.banner
{
    margin-top: 24px;
    height: 400;
    width: 100%;
    z-index: 0;
    display: block;
}

.ofertas
{
    /* background-color: rgb(250, 199, 198); */
    background-color: var(--colorClaro);
    margin: 60px;
    padding-bottom: 10px;
}

.of
{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.oferta
{
    margin-left: 35px;
    height: 200;
    width: 200;
    margin-bottom: 20px;
}

.ofertaelemento
{
    display: inline-block;
    width: 19%;
}

.ofdesc
{
    margin-left: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.popular
{
    /* background-color: rgb(255, 178, 176); */
    background-color: var(--colorClaro);
    margin: 60px;
    padding-bottom: 10px;
}

.pop
{
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.maspopular
{
    margin-left: 35px;
    height: 200;
    width: 200;
    margin-bottom: 20px;
}

.popelemento
{
    display: inline-block;
    width: 19%;
}

.popdesc
{
    margin-left: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.creacioncuenta p, .registrarsecongoogle, .yatienescuenta, .iniciosesion p, .iniciarcongoogle, .notienescuenta
{
    text-align: center;
    font-size: larger;
}

.creatucuenta, .iniciacuenta
{
    text-align: center;
    font-family: "Arial Black";
    font-size: xx-large;
}

.registrarse, .iniciasesion
{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--principalColorOscuro);
    color: white;
    border-radius: 10px;
}

/* .regcongoogle, .incongoogle
{
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    border-radius: 10px;
} */

.imagenprincipal
{
    width: 320px;
    height: 400px;
    float: left;
    margin-right: 20px;
}

.imagensecundaria
{
    width: 80px;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.imagenesdelproducto
{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    float: left;
}

.nombredelproducto
{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.preciodelproducto
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 60px;
}

.prenda span
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

.comprarprenda
{
    display: inline-block;
}

.elegirtalla
{
    appearance: none;
    outline: none;
    border-style: solid;
    border-color: #c64cd6;
    border-width: 1px;
    width: 60px;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: #c64cd6;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.elegirtalla:hover
{
    /* border-width: 2px; */
    background-color: #c64cd6;
    color: white;
}

.elegirtalla:checked
{
    /* background-color: rgb(94, 94, 94); */
    background-color: #c64cd6;
    color: white;
    /* border-color: var(--colorClaro); */
}

.elegirtalla::before
{
    content: attr(id);
}

.boton-paypal
{
    padding: 10px;
    width: 150px;
    float: left;
    margin-top: 20px;
}

.alcarrito, .guardarenlista
{
    /*display: inline-block;*/
    border: none;
    margin-left: 10px;
    background-color: transparent;
    cursor: pointer;
}

.alcarrito img, .guardarenlista img
{
    width: 50px;
    height: 50px;
}


.descripciondelproducto, .coments
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

.descprod
{
    margin-left: 50px;
    font-size: large;
    margin-bottom: 100px;
}

.calificacion p
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.calificacion
{
    margin-left: 50px;
    margin-bottom: 50px;
}

.estrella
{
    width: 40;
    height: 40;
}

.comentarios
{
    margin-bottom: 50;
}

.form-comentar
{
    text-align: center;
}

.comentar
{
    width: 500px;
    height: 50px;
    border-radius: 10px;
}

.nombreusuario, .comentario
{
    margin-left: 50px;
    font-size: large;
    display: inline;
}

/* .producto
{
    display: block;
    margin: 50px;
    margin-left: 150px;
    width: 60%;
    height: 190px;
} */

/* .imagenprenda
{
    width: 160;
    height: 190;
    margin-right: 20px;
    float: left;
} */

.nomprodcarrito, .cantidadtotal
{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.precprodcarrito, .ctotal
{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.pagar
{
    float: right;
    margin-top: 50px;
    margin-right: 120px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%), 0 3px 7px 0 rgb(0 0 0 / 9%);
}

.paga
{
    /* padding: 10px; */
    
    text-align: center;
    border-radius: 10px;
    /* font-size: x-large; */
    /* width: 200px; */
    
    border: 2px solid #c64cd6;
    width: 100%;
    color: #c64cd6;
    font-size: 20px;
    background: white;
    padding: 15px 20px;
    
    cursor: pointer;
}

.paga:hover
{
    background: #c64cd6;
    color: white;
}

.registrodepago
{
    display: inline-block;
    margin-top: 50;
    margin-left: 450;
}

.registrodepago p
{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.registrodepago input
{
    height: 40px;
    border-radius: 5px;
    margin-left: 60px;
}

.cantidadapagar
{
    float: right;
    margin-top: 50px;
    margin-right: 350px;
}

.guardartarjeta, .pagartarjeta, .guardarpaypal, .pagarpaypal
{
    font-size: large;
    text-align: center;
    width: 150px;
    background-color: var(--principalColor);
    border-radius: 10px;
    border: none;
}

.guardartarjeta, .pagartarjeta, .guardarpaypal, .pagarpaypal:hover
{
    background-color: var(--colorClaro);
}

.pagarconpaypal, .pagarcontarjeta
{
    font-size: larger;
    text-align: center;
    border-radius: 10px;
    background-color: var(--principalColor);
    margin-right: 150px;
}

.pagarconpaypal, .pagarcontarjeta:hover
{
    background-color: var(--colorClaro);
}

.pagarconpaypalp, .pagarcontarjetap
{
    text-align: center;
}

.entrega, .cambiodedatos
{
    font-size: larger;
    display: block;
    margin: auto;
    width: 35%;
    margin-top: 50px;
}

.guardardireccion
{
    margin-top: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border-radius: 10px;
}

.gdir, .gcamb
{
    text-align: center;
}

.entrega input, .cambiodedatos input
{
    border-radius: 6px;
    height: 30px;
}

.cambiodedatos h2
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cambiodedatos h3
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.guardarcambios
{
    border: 2px solid #c64cd6;
    text-align: center;
    margin-top: 10%;
    color: #c64cd6;
    padding: 15px 20px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.guardarcambios:hover
{
    background: #c64cd6;
    color: white;
}

.opcadmin
{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: x-large;
    height: 150px;
    width: 300px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logout
{
    width: 100%;
    height: 40px;


    font-size: medium;
    /* padding: 15px 20px; */
    border-radius: 20px;
    cursor: pointer;
    color: #c64cd6;
    background: white;
    border: 2px solid #c64cd6;
}

.logout:hover
{
    border-color: #c64cd6;
    background: #c64cd6;
    color: white;
}

.login_button
{
    width: 100%;
    height: 40px;
    transition: all 0.3s;
    font-size: medium;
    /* padding: 15px 20px; */
    border-radius: 20px;
    cursor: pointer;
    color: #c64cd6;
    background: white;
    border: 2px solid #c64cd6;
}

.login_button:hover
{
    border-color: #c64cd6;
    background: #c64cd6;
    color: white;
}

.menuadmin
{
    /* width: 100%;
    background-color: var(--principalColorOscuro);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px; */

    background-color: white;
    
    display: flex;
    height: 100px;
    padding: 0 20px;
    justify-content: space-between;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 9%);
}

.menuadmin a
{
    text-decoration: none;
}

.menuadmin ul {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    height: 100%;
    display: flex;
    margin-top: 0px;
    /* align-items: center; */
    /* justify-content: space-around; */
    font-family: Arial, Helvetica, sans-serif;
}

.menuadmin ul a {
    font-size: 20px;
    /* font-weight: bold; */
    color: gray;
}

.menuadmin ul li {
    padding: 5px;
    /* margin-left: 20%; */
    margin-right: 30%;
}

.menuadmin ul li:hover, .menuadmin ul a:hover {

    background: whitesmoke;
    color: #c64cd6;
    transition: 0.3s;
}


.botonadmin
{
    padding: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--principalColor);
    border-radius: 10px;
    width: 20%;
    margin-left: 40px;
    border: none;
}

.imgprenda
{
    width: 240;
    height: 320;
    margin-top: 50px;
    margin-left: 80px;
    float: left;
}

.etiquetas_container
{
    display: inline-block;
    width: 600px;
    right: 0;
    margin-left: 100px;
    margin-top: 50px;
}

.etiquetas
{
    display: inline;
    float: left; 
    width: 300px;
    right: 10px;

}

.etiquetas select, .etiquetas input
{
    width: 220px;
    height: 40px;
    font-size: medium;
    text-align: center;
}

.etiquetas p, .ntallas
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.ntallas p
{
    text-align: right;
}

.ntallas input
{
    width: 50px;
}

.ntallas
{
    float: left;
    margin-left: 50px;
}

.borrarprenda
{
    
    text-align: center;
    border-radius: 10px;
    
    height: 60px;
    margin-bottom: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 2px solid #c64cd6;
    margin-top: 1%;
    color: #c64cd6;
    padding: 15px 20px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.borrarprenda:hover
{
    background: #c64cd6;
    color: white;
}

.buscarprenda
{
    margin-top: 50px;
    text-align: center;
}

.busquedaprenda
{
    width: 40%;
    height: 50px;
}

.imgprendaborrar
{
    width: 200;
    height: 280;
    float: left;
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.ingresarofertas
{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-right: 200px;
    display: block;
    float: right;
    width: 20%;
}

.guardaroferta
{
    background-color: var(--principalColor);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    height: 50px;
}

.productooferta
{
    display: block;
    width: 40%;
    height: 200px;
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 50px;
}
