
.header
{
    /* background-color: rgb(255, 180, 190); */
    background-color: #f397ff;
    display: flex;
    height: 100px;
    padding: 0 20px;
    justify-content: space-between;
}

.header a
{
    text-decoration: none;
}

.imgMenu
{
    width: 60px;
    height: 60px;
}

#brand {
    
    font-size: 18px;
    display: flex;
    align-items: center;
}

#brand a {
    color: white;
}

.header ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header ul a {
    font-size: large;
    font-weight: bold;
    color: white;
}

.header ul li {
    padding: 5px;
    margin-left: 10px;
}

.header ul li:hover {

    transform: scale(1.1);
    transition: 0.3s;
}


#iconoMenu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#iconoMenu div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.menuMovil {
    background-color: whitesmoke;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    z-index: 99 !important;
}

.menuMovil li:hover {
    background-color: gainsboro;
}

.menuMovil li {
    text-align: center;
    width: 100%;
    height: 50px;
}

.menuMovil a {
    font-size: large;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #5f59f7;
    position: relative;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #iconoMenu {
        display: block;
    }
}

.logo
{
    width: 90px;
    height: 60px;
    margin-right: 10px;
    /* margin: 20px; */
    /* margin-left: 50px; */
    /* float: left; cuando corrija esto quitarlo */
}


