body 
{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}



.producto
{
    /* margin-right: auto;
    margin-left: 3%;
    
    
    border-spacing: 10px;
    
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 20px;

     */
    
    /* position: relative; */
    background-color: white;

    margin-right: auto;
    margin-left: 3%;
    max-width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding: 20px;
    width: 40%;
    height: auto;
    
    border-radius: 10px;

    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 10%), 0 11px 15px 0 rgb(0 0 0 / 9%);
}

.imagenprenda
{
    height: auto;
    width: auto;
    border-radius: 20px;
    
    
}
/* 
.contenedor-imagen
{
    width: 80%;
    height: 80%;
    margin: 0;
}

.imgprenda
{
    /* width: 25%;
    height: 23%; */
    /* border-radius: 20px; */
    /* margin: 0; 
    
} */