body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.formularioConfiguracion
{
    background-color: white;
    margin-top: 0px;
    padding: 3px;
    border-radius: 2%;
    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 10%), 0 11px 15px 0 rgb(0 0 0 / 9%);
    
}

.formularioConfiguracion:hover
{
    box-shadow: 0 20px 24px 0 rgb(0 0 0 / 12%), 0 21px 25px 0 rgb(0 0 0 / 7%);
}

.labelConfigurar
{
    text-align: center;
    font-family: "Arial Black";
    font-size: xx-large;
    color: #c64cd6;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.labelSeccion
{
    font-family: "Arial";
    font-size: large;
    color: #383838;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.labelDatos
{
    margin-top: 2%;
    font-family: "Arial";
    font-size: medium;
    color: #272727;
}

.contenedor
{
    width: 100%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: left;
}

.fila
{
    display: flex;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.columna p
{
    margin-left: 5%;
    min-width: 150px;
    max-width: 150px;
}

.columna
{
    margin-left: 5%;
    align-items: left;
    margin-top: 2%;
    max-height: 50px;
    height: 10%;
}

/* .input-contenedor
{
    width: 90%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 10%;
} */

.input
{
    font-size: medium;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #aaa;
    border-radius: 10px;
    outline: none;
    /* width: 100%;
    margin-left: auto;
    margin-right: auto; */
}

.input:hover
{
    border: 2px solid #c64cd6;
    border-radius: 15px;
}

/* .input select
{
    font-size: 20px;
    width: 0%;
    padding: 10px;
    border: none;
    /* margin-left: 12px; */
/* } */ 

.boton
{
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.botonGuardar
{
    border: 2px solid #c64cd6;
    /* width: 90%; */
    color: #c64cd6;
    font-size: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    
    /* margin-bottom: 10%; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.botonGuardar:hover
{
    background: #c64cd6;
    color: white;
}

@media (min-width: 800px) 
{
    .formularioConfiguracion
    {
        margin: auto;
        
        width: 700px;
        margin-top: 50px;
        
        margin-bottom: 50px;
        
        border-radius: 2%;
    }

    .input
    {
        width: 370px;
    }
}

@media (max-width: 800px) 
{
    .formularioConfiguracion
    {
        margin: auto;
        width: 90%;
        margin-top: 50px;
        border-radius: 2%;
        
        margin-bottom: 50px;
    }

    .input
    {
        width: 100%;
    }
} 