:root
{
    --strong-pink: #c64cd6;
    --white: white;
    --background: whitesmoke;
    --gris-oscuro: rgb(77,77,77);
    --lg: 1.8rem;
    --md: 1.5rem;
    --sm: 1.2rem;
}

body 
{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.container-products
{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    width: 93%;
    height: auto;
    border-radius: 20px;
    background-color: #f9cbff;
    box-shadow: 0 10px 14px 0 rgb(0 0 0 / 10%), 0 11px 15px 0 rgb(0 0 0 / 9%);
    margin-bottom: 40px;
}

/* .container:hover 
{
    box-shadow: 0 20px 24px 0 rgb(0 0 0 / 12%), 0 21px 25px 0 rgb(0 0 0 / 7%);
} */

.sugerencias 
{
    display: flex;
    overflow: auto;
    margin-left: 2%;
    margin-right: 2%;
    /* margin-top: -50px; */
}

.elemento 
{
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 2%;
    margin-bottom: 10px;
    /* flex: 50%; */
    padding: 5px;
    border-style: solid;
    border-color: #f9cbff;
    border-radius: 20px;
    border-width: 2px;
    /*     position: relative; */
    min-width: 220px;
}

.elemento a
{
    text-decoration: none;
}

.elemento:hover 
{
    cursor: pointer;
    border-color: #881b95;
    transition: all 0.3s;
}

.imagenElemento 
{
    max-height: 200px;
    max-width: 200px;
    min-height: auto;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.labelElemento 
{
    color: #1d1d1d;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 200px;
    text-align: center;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.labelPrecio 
{
    color: #c227d5;
    margin-left: 30%;
    margin-right: 25%;
    display: flex;
    max-width: 100%;
    text-align: center;
    font-family: "Arial Black";
}

.labelOfertas
{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    /* align-items: center; */
    text-align: center;
    font-family: "Arial Black";
    font-size: 40px;
    color: #881b95;
    /* position: relative; */
}

/* @media (min-width: 768px) 
{
    .container
    {
        width: 90%;
        height: auto;
    }
} */