body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header
{
    background-color: #f397ff;
    display: block;
    height: 100px;
}

.formRegistrar
{
    background-color: white;
    margin-top: 0px;
    padding: 3px;
    border-radius: 2%;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%), 0 3px 7px 0 rgb(0 0 0 / 9%);
}

.formRegistrar:hover
{
    box-shadow: 0 20px 24px 0 rgb(0 0 0 / 12%), 0 21px 25px 0 rgb(0 0 0 / 7%);
}

.labelRegistrar
{
    text-align: center;
    font-family: "Arial Black";
    font-size: 40px;
    color: #c64cd6;
}

.contenedor
{
    width: 90%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.input
{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor
{
    margin-bottom: 15px;
    border: 2px solid #aaa;
    border-radius: 10px;
}

.input-contenedor:hover
{
    border: 2px solid #c64cd6;
    border-radius: 15px;
}

.icono
{
    width: 30;
    height: 30;
    background-color: transparent;
    margin-left: 5px;
    margin-bottom: -8px;
    opacity: 0.7;
}

.botonRegistrar
{
    border: 2px solid #c64cd6;
    width: 100%;
    color: #c64cd6;
    font-size: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.botonRegistrar:hover
{
    background: #c64cd6;
    color: white;
}

.aviso, .yatienescuenta
{
    text-align: center;
}

.link
{
    text-decoration: none;
    color: #c64cd6;
    font-weight: 600;
}

.link:hover
{
    color: #f397ff;
    text-decoration: underline;
}

@media (min-width: 600px) 
{
    .formRegistrar
    {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

@media (max-width: 600px) 
{
    .formRegistrar
    {
        margin: auto;
        width: 90%;
        margin-top: 50px;
        border-radius: 2%;
    }
} 