:root {
    --strong-pink: #c64cd6;
    --white: white;
    --background: whitesmoke;
    --gris-oscuro: rgb(77,77,77);
    --lg: 1.8rem;
    --md: 1.5rem;
    --sm: 1.2rem;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

.results-container
{
display: grid;
grid-template-columns: repeat(auto-fill, 240px);
gap: 26px;
place-content: center;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.producto
{
background-color: white;
margin: 5%;
padding: 20px;
width: 90%;
height: auto;
border-radius: 10px;
cursor: pointer;
box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%), 0 7px 8px 0 rgb(0 0 0 / 9%);
}

.image-container
{
display: flex;
justify-content: center;
}

.imagenprenda
{
max-height: 200px;
/* min-height: auto; */
max-width: 100%;
border-radius: 20px;
}

.price
{
font-weight: bold;
font-size: var(--md);
margin-top: 16px;
margin-bottom: 16px;
}

.product-name
{
font-size: var(--sm);
margin-top: 16px;
margin-bottom: 16px;
}

.price .product-price
{
font-size: var(--md);
}

.product-description
{
font-size: var(--sm);
color: var(--gris-oscuro);
margin-top: 16px;
margin-bottom: 16px;
}

.filters
{
    margin-top: 32px;
    justify-content: center;
    display: flex;
}

.filter-form
{
    display: flex;
    gap: 12px;
}

.filter-section
{
    display: flex;
    gap: 12px;
}

@media (max-width: 1300px) {
    .filter-form
    {
        flex-direction: column;
    }
}

@media (max-width: 740px) {
    .filter-section
    {
        flex-direction: column;
    }
}